* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.header {
	width: 75%;
	margin: 0px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 50%;
	margin: 0px auto;
	text-align: left;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
label {
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;

}
 input.text {
	height: 15px;
	width: 150px;
	padding: 5px 10px;
	margin-right: 2px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid brown;
}
.input-group textarea {
	rows:7;
	cols:50;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 96%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.search_btn {
	text-decoration: none;
	padding: 4px 6px;
	background: #40ad38;
	color: white;
	border: 1px solid #40ad38;
	border-radius: 3px;
	cursor: pointer;
}
.find_btn {
	text-decoration: none;
	padding: 4px 6px;
	background: #ad9b39;
	color: white;
	border: 1px solid #ad9b39;
	border-radius: 3px;
	cursor: pointer;
}
.print_btn {
	text-decoration: none;
	padding: 4px 6px;
	background: #3609ad;
	color: white;
	border: 1px solid #3609ad;
	border-radius: 3px;
	cursor: pointer;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}
.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.apply_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #0005FB;
}
.remove_btn {
	text-decoration: none;
	padding: 2px 5px;
	color: white;
	border-radius: 3px;
	background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: left;
}
.profile_info div {
	display: inline-block; 
	margin: 5px;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}
tr {
    border-bottom: 1px solid #cbcbcb;

}
th{
    border: none;
    height: 30px;
    padding: 10px;
	font-family: 'Arial', Gadget, sans-serif;
	color: #0d0e4b;

}
td{
	border: none;
	height: 30px;
	padding: 10px;
	font-family: 'Arial', Gadget, sans-serif;
	font-size: 14px;
	color: #030907;
}
tr:hover {
    background: rgba(139, 139, 139, 0.68);
}